<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

  <% if @posts.any? %>
    <h1>Wszystkie posty<h1>
  <% else %>
    <h2>Brak postów do wyświetlenia</h2>
  <% end %>

  <% @posts.each do |post| %>
    <h3>
      <%= image_tag post.image.url, class: "img-thumbnail", width: 100 %>
      <%= post.title %>
    </h3>
    <div>
      <%= truncate(raw post.content) %>
      <%= link_to "czytaj dalej", post %>
    </div>
    <% if is_admin %>
      <%= link_to "Edytuj", edit_post_url(post) %>
      <%= link_to "Usuń", post, method: :delete, data: { confirm: "Usunąć wpis?" } %>
    <% end %>
    <hr />
  <% end %>
<% else %>
  Zaloguj się aby przeglądać posty
<% end %>
